.details {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 1.8;
}
.movie-details {
  width: 500px;
  margin-left: 40px;
}

.movie-details span {
  margin-right: 10px;
  color: #6ac040;
}
